body {
    background-color: tan;
}

/* .gallery {
    list-style: none;
    display: flex;
    gap: 10px;
}

.gallery-box {
    width: 300px;
    height: 300px;
}

.button {
    border: none;
    cursor: grab;
    width: 100px;
    height: 30px;
}

.block {
    width: 20px;
    height: 20px;
    background-color: red;
} */

.js-user-name {
    border-color: brown;
    color: white;
    background-color: black;
}